.blue-color{
  color:#1a457f;
}
.logo-image{

    height:100px;
}

.logo-image-holder{
  position:absolute;
  top:49px;
}

.sidebar-picture{
  width:190px;
}

.sidebar-titles{
  text-align:center;
  font-size:10px;
}

.title-example{
  margin-top:10px;
}

.title-example{
  display: inline-block;
  margin-top: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote:before {
content:”\201C”;
}

blockquote:after {
content:”\201D”;
}

#content ul{
  margin-left: 20px;
}

.program-description{
  color:#777;
}
.program-authors{
  margin-top:5px;
  color:#bfbfbf
}
.black-header-color{
  color:#43423F;
}

.full-width-content{
  text-align: left;
  width: 100%;
  padding: 0;
}
.smaller-subtitle{
  font-size:140%;
}
.big-sidebar-list{
  font-size:17px
}

ul.big-sidebar-list > li {
  margin-top: 6px;
}
